<% if @muscle_exercise.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @muscle_exercise.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <%end %>
  </ul>
<% end %>

<h1>Cadastro de exercício na ficha</h1>

<%= render 'form' %>

<%= link_to 'Voltar', user_muscle_group_list_path(training_plan_id: find_training_plan(params[:muscle_group_id]).id) %>
