<% if @exercise.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @exercise.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <%end %>
  </ul>
<% end %>

<h1>Cadastro de Exercício</h1>

<%= render 'form' %>

<%= link_to 'Voltar', list_muscles_and_exercises %>
